html {
    overflow-y: scroll;
    font-family: helvetica, arial, sans-serif;
}

body {
    min-width: 800px;
    margin: 0;
    padding: 0;
}

.banner {
    overflow: auto;
    margin-bottom: 0px;
    background-color: #076ace;
    color: #fff;
}

.banner h1 {
    float: left;
    font-size: 20px;
    height: 2;
    line-height: 2;
    margin: 0 20px;
}

.spaceLabel {
    float: left;
    width: 50px;
}

.selectFile {
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    height: 20px;
    line-height: 2;
    cursor: pointer;
    color: #fff;
    background: #076ace;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline;
    zoom: 1;
}

.selectFile input {
    position: absolute;
    font-size: 0;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    zoom: -1;
}

.selectFile:hover {
    color: #076ace;
    background: #fff;
    border-color: #000;
    text-decoration: none;
}